body{background: #fff; 
	margin: 30px 0; 
	font-family:'Roboto', sans-serif; 
	-webkit-font-smoothing: antialiased; 
	font-smoothing: antialiased;}

*{margin: 0; padding: 0;}

h1{text-align: center; font-weight: normal; margin: 20px; color: #444;}

pre{width: 100%; display: block; text-align: center; margin-bottom:20px }

a{text-decoration: none}

.container{
	width: 90%;
	margin: 0 auto;
}